
.body-home {

	/* Location of the image */
	background-image: url(../images/home_bg2.jpg);

	background-color: #6699cc;

	background-blend-mode: multiply;

	/* Image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Image doesn't repeat */
	background-repeat: no-repeat;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  	/* Makes the image fixed in the viewport so that it doesn't move when 
	 the content height is greater than the image height */
  	background-attachment: fixed;

	display: block;

}

/* For mobile devices */
@media only screen and (max-width: 400) {
	.body-home {

		/* The file size of this background image is 93% smaller
	 	* to improve page load speed on mobile internet connections */
		background-image: url(../images/home_bg_mb.jpg);
	}
}

.container {
	display: table;
}

.content-home {
	padding-top: 70px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	width: 100%;
	display: table-cell;
}

.logo-home {
	padding-top: 70px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { 
	left:  0px;
	color: #595959;
}

.right-addon .glyphicon { 
	right: 0px;
}

/* add padding  */
.left-addon input  { 
	padding-left:  30px;
}

.right-addon input { 
	padding-right: 30px;
}