
a:hover {
	text-decoration:none;
}

.container {
	width: 100%;
}

.body-home, .body-login {

	/* Location of the image */
	background-image: url(../images/home_bg.jpg);

	background-color: #264d73;

	background-blend-mode: multiply;

	/* Image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Image doesn't repeat */
	background-repeat: no-repeat;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	/* Makes the image fixed in the viewport so that it doesn't move when 
	 the content height is greater than the image height */
	background-attachment: fixed;

	display: block;

}

.navbar-default {
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
	color: #FFFFFF;
}

.container-box {
	padding-top: 100px;
	background-color: #F9F9F9;
}

.container-box-shop {
	padding-right: 70px;
	padding-left: 70px;
}

.container-box-login {
	padding-top: 100px;

}

.menu-box {
	height: 100%;
	bottom: 0;
}

.row-logo-login {
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.row-content-login {
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
}

.row-form-login {
	margin-top: 5px;
}

.row-logo {
	padding-top: 60px;
}

.panel {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.panel-heading {
	position: relative;
	border: 0;
}

.panel-body {
	padding-top: 0;
}

.panel-footer {
	padding: 0;
}

.title-profile {
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 1;
	color: #FFFFFF;
}

.form-profile {
	padding-top: 15px;
}

.image-overlay {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

.image-overlay:before {
	content: ' ';
	display: block;
	/* adjust 'height' to position overlay content vertically */
	height: 50%;
}

.btn-checkout {
	width: 80%;
}

.btn-default.edit {
	background-image: none !important;
	background-color: #D8D8D8;
	border-color: #D6D6D6;
	font-weight: bold;
	color: #000000;
	width: 100px;
	border-radius: 1px;
}

.btn-primary.edit {
	background-image: none !important;
	background-color: #2770CC;
	color: #FFFFFF;
	width: 100px;
	border-radius: 1px;
	font-weight: bold;
}

.bill-detail {
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
}

.button-edit {
	vertical-align: middle;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 15px;
}

.list-group.bill {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.list-group-item.bill {
	border-top: 0;
	border-bottom: 0;
}

.bill-item {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


.order-title {
	position: absolute;
	top: 15px;
	right: 0px;
	left: 0px;
	z-index: 1;
	color: #FFFFFF;
}

.header-your-order {
	font-size: 20px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;

}

.order-item-title {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
}

.order-subitem-title {
	font-size: 14px;
	color: #575757
}

ul.order-subitem-title {
    list-style: none;
	padding-left: 10px;
}

li.subitem:before {
	content: "+";
}

.panel-footer.order-total {

	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 10px;
	border-top: 2px solid #9F9F9F;
	background-color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

.bill-item-icon {
	display: none;
}

.btn[disabled] {
	opacity: .55;
}

/* Top Navbar common START HERE */
.navbar .navbar-nav >li > a {
	color: #FFFFFF;
}

.navbar .navbar-nav >li > a:hover {
	color: #99c2ff;
}

.navbar-brand {
	padding-top: 10px;
	color: #FFFFFF;
}

.navbar-inverse {
	background-color: #10A7F1;
	background-image: none;
	border-color: #10A7F1;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(135, 135, 135, 0.75);
	-moz-box-shadow:    1px 1px 5px 1px rgba(135, 135, 135, 0.75);
	box-shadow:         1px 1px 5px 1px rgba(135, 135, 135, 0.75);
}

.btn-back {
	float:left;
	padding-top: 10px;
	padding-left: 15px;
	display:inline-block;
	color: #005278;
	font-size:20px;
}

.top-shop-cart {
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	background-color: #2770CC;
	color: #FFFFFF;
}

.float-icon-right {
	padding: 5px 10px;

}

.navbar-shopname {
	max-width: 200px;
	padding-top: 12px;
	padding-left: 15px;
	color: #FFFFFF;
	font-size: 18px;
	display: table-cell;
}

.navbar-control-search {
	width: 350px !important;
	border-left: 0;
}

.navbar-control-search[type="text"]:focus {
	border-color: #cccccc;
	outline: 0 none;
}

/* Top Navbar common END HERE */

/** For Footer common START HERE **/
.footer {
	text-align: center;
	vertical-align: middle;
}

.footer-content {
	padding-top: 8px;
	min-height: 50px;
}

.footer-content:not(:last-child) {
	border-right: 1px solid #70726F;
}

.footer-item {
	padding-top: 3px;
	color: #FFFFFF;
	font-size: 10px;
	display: block;
	text-align: center;
	word-wrap: break-word;
}

.footer-icon {
	font-size: 15px;
	color: #005379;
}

/** For Footer common END HERE **/

.row-content {
	color: #FFFFFF;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
}

.row-searchbox {
	padding-top: 5px;
	text-align: center;
}

.glyphicon-search-home {
	color: #FFFFFF !important;
	margin-right: 5px;
	vertical-align: middle;
}

.input-group-addon {
	background-color: #FFFFFF;
	border-radius: 0;
	border-right: 0 solid transparent;
}

.input-search {
	border-left: 0;
	width: 300px;
}

.input-search[type="text"]:focus {
	border-color: #cccccc;
	outline: 0 none;
}

.glyphicon-search-gray {
	color: #8c8c8c;
}

.text-center {
	text-align: center;
}

.btn {
	border-radius: 0;
}

.form-control { 
	border-radius: 0;
	box-shadow: none !important;
	-webkit-box-shadow: none;
	outline: none;
}

/** Common **/

.body-common {
	background-color: #FAFAFA;
}

.nopadding {
	padding: 0;
}

.nopadding-right-left {
	padding-right: 0;
	padding-left: 0;
}

.input-common {
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 2px;
}

/* NavBar in left side START HERE */

#wrapper {
	position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-shoplist {
	background-color: #F9F9F9;
	top: 51px;
	bottom: 0;
	left: 337px;
	margin-left: -337px;
	position: fixed;
	overflow-y: auto;
	z-index: 1000;
	padding-right: 0;
	padding-left: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


#mapContent {
	width: 100%;
 }

.navbar-shoplist-heading {
	padding: 10px 15px;
	border-radius: 0;
	font-weight: bold;
	background-color: #FFFFFF;
	border-right: 1px solid #DDDDDD;
}

.list-group {
	margin-bottom: 10px;
}


.list-group .list-group-item {
	border-radius: 0;
}

.list-group-item {
	border-right: 0;
	border-left: 0;
}

.list-group-item.shop-list {
	background-color: #F9F9F9;
}

.list-group .settings > li:first-child {
	border-top: 0;
}

.list-group-item > .fa {
	padding-top: 10px;
}

.list-group > li:last-child {
	border-bottom: 0;
}

.list-group > a:last-child {
	border-bottom: 0;
}

.image-caption-shop {
	padding-top: 3px;
	text-align: center;
	vertical-align: middle;
	color: #8c8c8c;
}

.image-caption-shop > a {
	text-decoration: none;
	color: #8C8C8C;
}

.image-caption-shop > a:hover {
	color: #ff0000;
}

.shop-collection {
	padding-top: 1px;
	padding-bottom: 1px;
	color: #ff9900;
}

.btn-toggle-shoplist {
	position: absolute;
	top: 51px;
	padding-top: 10px;
	width: 25px;
	height: 40px;
	border: 1px solid #DDDDDD;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #FFFFFF;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

/* NavBar in left side END HERE */
.main-map {
	top: 51px;
	padding-right: 0;
	padding-left: 0;
}

.map-shop {
	padding-top: 15px;
	width: 100%;
	height: 600px;
	border-top: 1px solid #DDDDDD;
}


/* Navbar in th right side START HERE */

/* for common screen */
.navbar-main {
	top: 0px;
	z-index: 9999;
}

.navbar-main {
	right: 0;
	bottom: 0;
	width: 0;
	position: fixed;
	background-color: #f9f9f9;
	overflow-x: hidden;
	padding-top: 50px;
}

/* The navigation menu links */
.navbar-main a {
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.2s
}

/* When you mouse over the navigation links, change their color */
.navbar-main a:hover {
	color: #10A7F1;
}

/* Position and style the close button (top right corner) */
.navbar-main .closebtn {
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 36px;
	margin-left: 50px;
}
/* Navbar in th right side END HERE */

.restaurant-cover-image {
	display: none;
}

.row-breadcrum {
	padding-top: 70px;
}

.breadcrumb {
	padding-right: 80px;
	padding-left: 80px;
	background-color: transparent;
	margin-bottom: 10px;
}

.breadcrumb > li + li:before {
   color: #CCCCCC;
   content: "> ";
   padding: 0 5px;
}

/* Customize Tab START HERE */
.nav-tabs > li a { 
    background-color:#FAFAFA; 
    color:#C8C8C8;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #10A7F1;
    color: #FFFFFF;
    border: 1px solid #0D9EE0;
}

.tab-content-row {
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	line-height: 200%
}

.tab-content-row > div:first-child {
	padding-top: 30px;
}

.panel-restaurant {
	padding-bottom: 0;
}

.title-shop-info {
	padding-bottom: 10px;
}

.list-group.menu {
	margin-bottom: 0;
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

.menu .list-group-item {
	padding-right: 0;
	padding-left: 0;
	border-right: 0;
	border-left: 0;
	vertical-align: middle;
}

h3.list-group-item-heading {
	font-size: 20px;
}

.menu-main {
	padding-left: 15px;
}

.menu-item {
	padding-left: 30px;
}

.sub-item {
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	height: 50px;
	font-size: 14px;
}

.fa-minus-circle {
	color: #EA4E4F;
}

.green-text {
	color: #46A118;
}


.list-group-item:hover .fa-plus-circle {
	color: #01A7F1;
}

.title-food {
	padding-bottom: 20px;
}

/* Customize Tab END HERE */

/* For mobile devices */
@media only screen and (max-width: 767px) {
	.body-home {

		/* The file size of this background image is 93% smaller
		* to improve page load speed on mobile internet connections */
		background-image: url(../images/home_bg_mb.jpg);
	}

	.body-common {
		padding-bottom: 31px;
	}

	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}

	.navbar-login {
		background-color: #10A7F1;
		background-image: none;
		border-color: #10A7F1;
	}

	.navbar-fixed-top {
		max-height: 59px;
	}

	.container-box, .container-box-shop, .container-box-login {
		padding-top: 50px;
		padding-right: 0;
		padding-left: 0;
	}

	.body-login {
		background-image: none;
		background-color: #F9F9F9;
		overflow: hidden;
	}

	.row-logo-login {
		background-image: url(../images/home_bg_mb.jpg);
		background-color: #264d73;
		background-blend-mode: multiply;
		
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;

		padding-top: 25px;
		padding-bottom: 25px;
		border: 0;
		border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    height: 100%;
	}

	.row-content-login {
		background-color: #F9F9F9;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}

	.navbar-shoplist {
		bottom: 40px;
	}

	/* Responsive tab for mobile device START here */
	.nav-justified > li {
		display: table-cell;
		width: 1%;
	}

	.nav-justified > li > a  {
		border-bottom: 1px solid #ddd !important;
		border-radius: 4px 4px 0 0 !important;
		margin-bottom: 0 !important;
	}

	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #fff !important;
	}
	/* Responsive tab for mobile device END here */

	.panel {
		border: 0;
		box-shadow: none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}

	.panel-body {
		background-color: #F9F9F9;
	}

	.form-control-gray, .form-control-gray-login {
		background-color: #F9F9F9;	
	}

	.row-logo {
		padding-top: 30px;
	}

	#menu-tab {
		padding-bottom: 25px;
		background-color: #F9F9F9;
	}

	#info-tab {
		background-color: #F9F9F9;
	}

	#menu-tab.tab-content-row {
		padding-right: 0px;
		padding-left: 0px;
	}

	.menu .list-group-item, .title-shop-info {
		background-color: #F9F9F9;

	}

	.title-shop-info {
		padding-right: 15px;
		padding-left: 15px;
	}

	.menu .list-group-item {
		padding-right: 15px;
		padding-left: 15px;		
	}

	h3.list-group-item-heading {
		font-size: 18px;
	}

	h4.list-group-item-heading {
		font-size: 16px;
	}

	.sub-item {
		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 45px;
		height: 50px;
		font-size: 14px;
	}

	.map-shop {
		height: 300px;
	}
}

/* For tablet */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	.container-box {
		padding-top: 51px;
		padding-right: 0;
		padding-left: 0;
	}

	.container-box-login {
		padding-top: 150px;
	}

	.container-box-shop {
		padding-top: 50px;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.menu-box {
		padding-right: 0;
	}

	.bill-box {
		padding-top: 1px;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.button-edit {
		padding-right: 30px;
	}

	.panel {
		border: 0;
		box-shadow: none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}

	.panel-account {
		padding-right: 50px;
		padding-left: 50px;
	}

	.form-control-gray {
		background-color: #FFFFFF;	
	}

	.form-control-gray-login {
		background-color: #FFFFFF;
	}

	.map-shop {
		height: 350px;
	}

	h3.list-group-item-heading {
		font-size: 16px;
	}

	h4.list-group-item-heading {
		font-size: 14px;
	}

	.order-title {
		top: 0px;

	}

	.order-title > h4 {
		font-size: 12px;
		margin-bottom: -5px;
	}

	.navbar-right {
		padding-right: 15px;
	}
}